<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.cst2335">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CST2335_Final_Project.NoActionBar">
        <activity
            android:name=".Activities.OwlDetailActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.OwlActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.CarModelDetailActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.CarbonActivity"
            android:exported="true"
            android:label="Carbon Interface">

        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PexelsActivity"
            android:exported="true"
            android:label="@string/activity_name" />

        <activity
            android:name=".CovidMainActivity"
            android:exported="true"
            android:label="Covid Activity" />

    </application>



</manifest>